.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px;
  
    @media (min-width: 1200px) {
      height: 100px;
    }
  }
  
  .logoConteiner {
    display: flex;
    justify-content: center; 
    width: 100%;
  }

  .logo {
    font-family: var(--font-cormorant);
    font-size: 24px;
    color: var(--clr-neutral-100);
  }
  
  .menuIcon {
    cursor: pointer;
    height: 20px;
  }