.container {
    width: 1400px;
    margin: 128px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 64px;
}

.list {
    border-collapse: collapse;
    text-align: center;
}
  
.list th,
.list td {
    padding: 14px;
}
  
.firstRow {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--clr-neutral-850);
}

.firstColumn, .thirdColumn, .eighthColumn, .ninthColumn {
    width: 200px
}

.secondColumn {
    width: 400px
}

.fourthColumn, .fifthColumn, .sixthColumn, .seventhColumn {
    width: 150px
}

.oddRow {
    background-color: var(--clr-neutral-850);
    font-size: 18px;
}

.evenRow{
    font-size: 18px;
}